body{
  font-family: "Helvetia","Arial", sefif;
  color:#333;
  background-color: #ccc;
  margin: 1em 10%;
}
h1{
  color:#333;
  background-color: transparent;
}
a{
  color:#c60;
  font-size:14px;
  text-decoration: none;
  font-weight:bold;
}
ul{
  padding:0;
  overflow: hidden;
}
li{
  float: left;
  list-style:none;
  padding:1em;
}
#imagegallery{
  list-style: none;
}
#imagegallery li{
  /*display:inline;*/
}
#imagegallery li a img{
  border: 0;
}